################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ComDrawerRepo/v16/ComDrawer/.vs/ComDrawer/v16/ipch/AutoPCH/13750885fdf46422/CANVASVIEW.ipch
